/* #d1ccc0---COLOR ===menu color before hover*/
/* #fa983a---COLOR ===orange for hover*/
/* #e15f41 ---color == footer */



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.wrapper {
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
    /* background-color: rebeccapurple; */

}

.text-center {
    /*this is a custom class which can be used */
    /* i reused this CSS also in menu */
    text-align: center;
}

.clear-fix {
    float: none;
    clear: both;

}

.tbl-full {
    width: 100%;
}

.tbl-30 {
    width:35%;
    /* background-color: red; */
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 1%;
}

.primary-text{
    color: #f55167;
    font-weight: bold;
}
.secondary-text{
    color: #50ea81;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.btn-primary {
    background-color: #1e90ff;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #2742fa;
}


.btn-secondary {
    background-color: #7bed9f;
    padding: 1%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #2ed573;
}

.btn-danger {
    background-color: #ff68b1;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #ff4757;
}


/* ///////////////////css for MENU */
.menu {
    border-bottom: 1px solid grey;
}

.menu ul {
    list-style-type: none;
    /*yesley chai link ko dot hataidinxa*/
}

.menu ul li {
    display: inline;
    /* yesley horizontal line ma raka*/
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    /*this hides the link line*/
    font-weight: bold;
    color: #f3c89c;
}

.menu ul li a:hover {
    color: #f98315;
}




/* //////////////////css for Main content */

.main-content {
    /* margin: 1% 0; */
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4 {
    background-color: white;
    margin: 1%;
    padding: 2%;
    width: 19%;
    float: left;
    /*it floates the slected into left side and it makes error beacause the downward codes also floats left so we have to use clearfix*/
}





/* //////////////////css for FOOOTER */
.footer {
    background-color: #e15f41;
    color: white;
}


/* ///////////////////////css for Login */
.login {
    width: 20%;
    border: 1px solid gray;
    margin: 7% auto;
    /*here 5 % meanis top and button but auto palce it in center */
    padding: 3%;

}